@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500&display=swap');

body {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

* {
    font-family: 'Overpass', sans-serif;
}

h1 {
    color: white;
    /* font-size: 24px; */
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

p {
    color: hsl(216, 12%, 54%);
    font-size: 15px;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: center;
    padding: 105px 15px;
}

.we-do-container, .thanks-container {
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    padding: 25px;
    width: 300px;
}

.we-do-container {

}

.svg-container {
    background-color: hsl(216, 12%, 8%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
}

.item-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-left: 0;
}

.item-container li {
    background-color: hsl(216, 12%, 8%);
    border-radius: 50%;
    color: hsl(216, 12%, 54%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    list-style-type: none;
    height: 35px;
    width: 35px;
}

.item-container li:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.item-container li.active {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.btn-container button {
    background-color: hsl(25, 97%, 53%);
    border-style: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    display: block;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}

.btn-container button:active, .btn-container button:hover, .btn-container button:focus, .btn-container button:visited {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.thanks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.thanks-container svg {
    margin-top: 10px;
}

.thanks-container .selected-container {
    background-color: hsl(216, 12%, 8%);
    border-radius: 25px;
    margin-top: 20px;
    padding: 10px 20px;
}

.thanks-container .selected-container p {
    color: hsl(25, 97%, 53%);
    margin: 0;
}

.thanks-container .description {
    text-align: center;
}

.attribution { 
    background-color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.attribution p, .attribution p  a {
    color: hsl(216, 12%, 8%);
    /* font-weight: bold; */
}

.attribution p  a {
    color: hsl(25, 97%, 53%);
    text-decoration: none;
}

.attribution p  a:active, .attribution p  a:hover, .attribution p  a:focus, .attribution p  a:visited {
    text-decoration: underline;
}

@media (min-width: 1440px) {
    .we-do-container, .thanks-container {
        width: 345px;
    }
}